/* ============= header ============= */
#header {
  text-align: center;
  padding-block: var(--space-2);
}
/* ============= expense-form ============= */
#expense {
  margin-bottom: var(--space-2);
}
#expense-form {
  margin-bottom: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  .form-control {
    position: relative;
    .feedback {
      position: absolute;
      font-size: var(--fs-12);
      color: var(--c-danger-1);
    }
  }

  .btn {
    max-width: fit-content;
  }
}
#filter {
  margin-bottom: var(--space-2);
}
/* ============= footer ============= */
#footer {
  padding-block: var(--space-1);
  background: var(--c-secondary-1);
  color: var(--c-primary-1);
  text-align: center;
}
